@font-face
    font-family: ProximaNova-Black
    src: url("../font/ProximaNova-Black.ttf")
@font-face
    font-family: ProximaNova-Blacklt
    src: url("../font/ProximaNova-Blacklt.ttf")

@font-face
    font-family: ProximaNova-Bold
    src: url("../font/ProximaNova-Bold.ttf")
@font-face
    font-family: ProximaNova-Boldlt
    src: url("../font/ProximaNova-Boldlt.ttf")

@font-face
    font-family: ProximaNova-Extrabld
    src: url("../font/ProximaNova-Extrabld.ttf")
@font-face
    font-family: ProximaNova-Extrabldlt
    src: url("../font/ProximaNova-Extrabldlt.ttf")

@font-face
    font-family: ProximaNova-Light
    src: url("../font/ProximaNova-Light.ttf")
@font-face
    font-family: ProximaNova-Lightlt
    src: url("../font/ProximaNova-Lightlt.ttf")

@font-face
    font-family: ProximaNova-Regular
    src: url("../font/ProximaNova-Regular.ttf")
@font-face
    font-family: ProximaNova-Regularlt
    src: url("../font/ProximaNova-Regularlt.ttf")

@font-face
    font-family: ProximaNova-Semibold
    src: url("../font/ProximaNova-Semibold.ttf")
@font-face
    font-family: ProximaNova-Semiboldlt
    src: url("../font/ProximaNova-Semiboldlt.ttf")

@font-face
    font-family: ProximaNovaT-Thin
    src: url("../font/ProximaNovaT-Thin.ttf")
@font-face
    font-family: ProximaNovaT-Thinlt
    src: url("../font/ProximaNova-Thinlt.ttf")

*
    box-sizing: border-box
    text-decoration: none
    list-style: none
    margin: 0
    padding: 0
button
    padding: 0
    border: none
    font: inherit
    color: inherit
    background-color: transparent
    cursor: pointer

.container
    max-width: 1200px
    margin: 0 auto